<template>
  <v-container>
    <div class="d-flex align-center mb-3">
      <p class="text-h5 font-weight-bold mb-0"> จัดการประเภทขยะ </p>
      <v-spacer />
      <v-btn class="black--text" large @click="showDetailDialog()"> + เพิ่มประเภทขยะ </v-btn>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางจัดการประเภทขยะ </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search">
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.garbage_category_image`]="{ item }">
          <v-img class="mx-auto my-2" :src="item.garbage_category_image[0]" width="80" height="80" />
        </template>
        <template #[`item.garbage_category_detail`]="{ item }">
          <v-btn elevation="0" rounded outlined x-small @click="showDetailCategoryDialog(item.garbage_category_detail)"> ดูรายละเอียด </v-btn>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn elevation="0" icon x-small @click="showDetailDialog(item)">
            <v-icon> mdi mdi-pencil </v-icon>
          </v-btn>
          <v-btn elevation="0" icon x-small @click="showDeleteDetailDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <detailDialogComponent ref="detailDialogComponent" dialog-name="รายละเอียดประเภทขยะ" />
    <categoryDialogComponent ref="categoryDialogComponent" @confirm="confirmGarbageDialog" @fetchData="fetchData" />
    <deleteDialogComponent ref="deleteDialogComponent" dialog-name="ลบข้อมูล" @confirm="confirmDelete" />
  </v-container>
</template>

<script>
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import detailDialogComponent from '@/components/dialogs/etc/detail.vue'
import categoryDialogComponent from '@/components/dialogs/forms/category.vue'
import deleteDialogComponent from '@/components/dialogs/etc/delete.vue'
import categoryApi from '@/services/api/garbagesApi/categoryApi.js'
import { mixins } from '@/mixins'
export default {
  name: 'ManageCategoryPage',
  components: { dataTableEtcComponent, detailDialogComponent, categoryDialogComponent, deleteDialogComponent },
  mixins: [mixins],
  data () {
    return {
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '15%' },
        { text: 'รูปภาพ', value: 'garbage_category_image', sortable: false, align: 'center', width: '20%' },
        { text: 'ประเภทของขยะ', value: 'garbage_category_name', sortable: false, width: '25%' },
        { text: 'รายละเอียด', value: 'garbage_category_detail', align: 'center', sortable: false },
        { text: 'จัดการ', value: 'manage', sortable: false, align: 'center', width: '20%' }
      ],
      items: [],
      search: ''
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const categories = await categoryApi.find()
      this.items = categories.data
    },
    showDetailCategoryDialog (data) {
      this.$refs.detailDialogComponent.show(data)
    },
    showDetailDialog (data) {
      this.$refs.categoryDialogComponent.show(data)
    },
    showDeleteDetailDialog (data) {
      this.$refs.deleteDialogComponent.show(data._id, data.garbage_category_name)
    },
    async confirmGarbageDialog (data, isEdit) {
      let status
      const { _id, ...rest } = data
      if (!isEdit) {
        await categoryApi.create(rest)
        status = 'สร้าง'
      } else {
        await categoryApi.update(_id, rest)
        status = 'แก้ไข'
      }
      this.$refs.categoryDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `${status}สำเร็จ...` })
    },
    async confirmDelete (data) {
      await categoryApi.delete(data.id)
      this.$refs.deleteDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `ลบ ${data.name} สำเร็จ...` })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
