<template>
  <v-container>
    <div class="d-flex justify-space-between mb-3">
      <span class="text-h5 font-weight-bold"> รายงานจากลูกค้า (Feedback) </span>
      <v-btn :disabled="items.length <= 0" color="green" outlined large @click="exportExcel">
        <v-icon left size="28"> mdi mdi-export </v-icon>
        <span> Export To Excel </span>
      </v-btn>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางตรวจสอบรายงานจากลูกค้า </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search">
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.feedback_details`]="{ item }">
          <v-btn elevation="0" rounded outlined x-small @click="showDetailCategoryDialog(item.feedback_details)"> ดูรายละเอียด </v-btn>
        </template>
        <template #[`item.user`]="{ item }">
          <div v-if="item.user" class="d-flex align-center py-3">
            <v-avatar class="mr-4" size="29">
              <v-img v-if="item.user" :src="item.user.image" />
            </v-avatar>
            <p class="mb-0">{{ `${item.user.first_name} ${item.user.last_name}` }}</p>
          </div>
          <p v-else class="mb-0 py-4"> ไม่พบผู้ร้องเรียน </p>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn elevation="0" icon x-small @click="showDeleteNewsDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <detailDialogComponent ref="detailDialogComponent" dialog-name="รายละเอียดการร้องเรียน" />
    <deleteDialogComponent ref="deleteDialogComponent" dialog-name="ลบข้อมูล" @confirm="confirmDelete" />
  </v-container>
</template>

<script>
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import detailDialogComponent from '@/components/dialogs/etc/detail.vue'
import deleteDialogComponent from '@/components/dialogs/etc/delete.vue'
import feedbackApi from '@/services/api/feedbackApi'
import * as XLSX from 'xlsx'
import { mixins } from '@/mixins'
export default {
  name: 'FeedbackPage',
  components: { dataTableEtcComponent, detailDialogComponent, deleteDialogComponent },
  mixins: [mixins],
  data () {
    return {
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '10%' },
        { text: 'หัวข้อรายงาน', value: 'feedback_title', sortable: false, width: '15%' },
        { text: 'รายละเอียด', value: 'feedback_details', sortable: false, align: 'center' },
        { text: 'ผู้ร้องเรียน', value: 'user', sortable: false, width: '20%', align: 'center' },
        { text: 'จัดการ', value: 'manage', sortable: false, align: 'center', width: '20%' }
      ],
      items: [],
      search: ''
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const feedback = await feedbackApi.find()
      this.items = feedback.data
    },
    exportExcel () {
      const mapData = this.items.map((item, index) => ({
        'ลำดับ': index + 1,
        'หัวข้อรายงาน': item.feedback_title,
        'รายละเอียด': item.feedback_details,
        'ผู้ร้องเรียน': `${item.user.first_name} ${item.user.last_name}`
      }))
      const sheet = XLSX.utils.json_to_sheet(mapData)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, sheet, 'รายงานจากผู้ใช้')
      XLSX.writeFile(wb, 'รายงานจากผู้ใช้.xlsx')
    },
    showDetailCategoryDialog (data) {
      this.$refs.detailDialogComponent.show(data)
    },
    showDeleteNewsDialog (data) {
      this.$refs.deleteDialogComponent.show(data._id, data.feedback_title)
    },
    async confirmDelete (data) {
      await feedbackApi.delete(data.id)
      this.$refs.deleteDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `ลบ ${data.name} สำเร็จ...` })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
