<template>
  <v-container>
    <div class="d-flex align-center mb-3">
      <p class="text-h5 font-weight-bold mb-0"> จัดการการฝากขยะ </p>
      <v-spacer />
      <v-btn class="black--text" large @click="showTransactionDialog"> + ฝากขยะ </v-btn>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางตรวจสอบรายงานจากลูกค้า </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search" :expanded.sync="expanded" item-key="_id" show-expand single-expand>
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.user`]="{ item }">
          <div v-if="item.user" class="d-flex align-center py-3">
            <v-avatar class="mr-4" size="32">
              <v-img v-if="item.user" :src="item.user.image ? item.user.image : require('@/assets/images/not_found_img.jpg')" />
            </v-avatar>
            <p class="mb-0">{{ `${item.user.first_name} ${item.user.last_name}` }}</p>
          </div>
          <p v-else class="mb-0 py-4"> ไม่พบผู้ร้องเรียน </p>
        </template>
        <template #[`item.payment`]="{ item }">
          <v-chip class="d-block text-center mb-0" :color=" item.is_paid ? 'success' : 'error'" small style="width: 100px">{{ item.is_paid ? 'ชำระเงินแล้ว' : 'ยังไม่ได้ชำระเงิน' }}</v-chip>
        </template>
        <template #[`item.created_at`]="{ item }">
          <p class="mb-0 py-4">{{ `${formatDate(item.created_at)} น.` }}</p>
        </template>
        <template #[`item.updated_at`]="{ item }">
          <p class="mb-0 py-4">{{ item.is_paid ? `${formatDate(item.updated_at)} น.` : 'ยังไม่ได้ชำระเงิน' }}</p>
        </template>
        <template #expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <table class="w-100 pa-4">
              <tr>
                <th class="text-center px-4"> รูปภาพ </th>
                <th class="text-start px-4"> ชื่อขยะ </th>
                <th class="text-end px-4"> ราคา </th>
                <th class="text-center px-4"> รายละเอียด </th>
                <th class="text-start px-4"> ประเภท </th>
                <th class="text-center px-4"> จำนวนที่ฝาก </th>
                <th class="text-end px-4"> ราคารวม </th>
              </tr>
              <tr v-for="(transaction, index) in item.transaction" :key="index">
                <td class="d-flex justify-center pa-4">
                  <v-img :src="transaction.garbages.garbage_image[0]" width="80" height="80" />
                </td>
                <td class="pa-4">{{ transaction.garbages.garbage_name }}</td>
                <td class="text-end pa-4">{{ transaction.garbages.garbage_price }} บาท</td>
                <td class="text-center pa-4">
                  <v-btn elevation="0" rounded outlined x-small @click="showDetailCategoryDialog(transaction.garbages.garbage_details)"> ดูรายละเอียด </v-btn>
                </td>
                <td class="pa-4">{{ transaction.garbages.garbage_category.garbage_category_name }}</td>
                <td class="text-center pa-4">{{ transaction.transaction_history_weight }} กิโลกรัม</td>
                <td class="text-end pa-4">{{ transaction.transaction_history_total }} บาท</td>
              </tr>
            </table>
          </td>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn class="mx-1" elevation="0" :disabled="item.is_paid" icon x-small @click="showPaymentDialog(item)">
            <v-icon> mdi mdi-account-credit-card </v-icon>
          </v-btn>
          <v-btn class="mx-1" elevation="0" icon x-small @click="showDeleteTransactionDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <garbageDepositsComponent ref="garbageDepositsComponent" @confirm="confirmGarbageDeposits" />
    <detailDialogComponent ref="detailDialogComponent" dialog-name="รายละเอียด" />
    <paymentDialogComponent ref="paymentDialogComponent" dialog-name="ยืนยันการชำระเงิน" @confirm="confirmPayment" />
    <deleteDialogComponent ref="deleteDialogComponent" dialog-name="ลบข้อมูล" @confirm="confirmDelete" />
  </v-container>
</template>

<script>
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import garbageDepositsComponent from '@/components/dialogs/forms/garbageDeposit.vue'
import detailDialogComponent from '@/components/dialogs/etc/detail.vue'
import paymentDialogComponent from '@/components/dialogs/etc/payment.vue'
import deleteDialogComponent from '@/components/dialogs/etc/delete.vue'
import transactionHistoryApi from '@/services/api/transactionHistoryApi'
import { mixins } from '@/mixins'
export default {
  name: 'ManageGarbageDepositsPage',
  components: { dataTableEtcComponent, garbageDepositsComponent, detailDialogComponent, paymentDialogComponent, deleteDialogComponent },
  mixins: [mixins],
  data () {
    return {
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '5%' },
        { text: 'ผู้ฝากขยะ', value: 'user', sortable: false, width: '20%' },
        { text: 'สถานะ', value: 'payment', sortable: false, align: 'center' },
        { text: 'ราคารวม (บาท)', value: 'summary_price', sortable: true, align: 'end', width: '15%' },
        { text: 'น้ำหนักรวม (กก.)', value: 'summary_weight', sortable: true, align: 'end', width: '15%' },
        { text: 'วันที่ฝากขยะ', value: 'created_at', sortable: false, align: 'center', width: '20%' },
        { text: 'วันที่ชำระเงิน', value: 'updated_at', sortable: false, align: 'center', width: '20%' },
        { text: 'จัดการ', value: 'manage', sortable: false, align: 'center', width: '10%' },
        { text: 'เพิ่มเติม', value: 'data-table-expand', align: 'center', width: '10%' }
      ],
      items: [],
      expanded: [],
      search: ''
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const feedback = await transactionHistoryApi.find()
      this.items = feedback.data.filter(item => item.user.role !== 0).reverse()
    },
    showPaymentDialog (data) {
      const fullName = `${data.user.first_name} ${data.user.last_name}`
      const summary = data.transaction.reduce((prev, cur) => prev + cur.transaction_history_total, 0)
      const obj = { ...data, fullName, summary }
      this.$refs.paymentDialogComponent.show(obj)
    },
    showDetailCategoryDialog (data) {
      this.$refs.detailDialogComponent.show(data)
    },
    showTransactionDialog () {
      this.$refs.garbageDepositsComponent.show()
    },
    async showDeleteTransactionDialog (data) {
      this.$refs.deleteDialogComponent.show(data._id, data.user.username)
    },
    async confirmGarbageDeposits (data) {
      try {
        await transactionHistoryApi.create(data)
        this.$refs.garbageDepositsComponent.close()
        await this.fetchData()
        this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ฝากขยะสำเร็จ...' })
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
        console.log('error from Garbage Deposits Page', error)
      }
    },
    async confirmPayment (data) {
      const { _id, ...rest } = data
      await transactionHistoryApi.update(_id, rest)
      this.$refs.paymentDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ฝากขยะสำเร็จ...' })
    },
    async confirmDelete (data) {
      if (data.status) {
        const mapSpliceData = data.data.transaction.map(item => {
          const obj = {
            garbages: item.garbages._id,
            transaction_history_weight: item.transaction_history_weight,
            transaction_history_total: item.transaction_history_total,
            transaction_history_date: item.transaction_history_date
          }
          return obj
        })
        mapSpliceData.splice(data.index, 1)
        const newData = {
          user: data.data.user._id,
          transaction: mapSpliceData
        }
        await transactionHistoryApi.update(data.data._id, newData)
      } else {
        await transactionHistoryApi.delete(data.id)
      }
      this.$refs.deleteDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ลบสำเร็จ...' })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
