<template>
  <v-carousel
    :hide-delimiters="hideDelimiters"
    :hide-delimiter-background="hideDelimiterBackground"
    :show-arrows-on-hover="showArrowsOnHover"
    height="80vh"
  >
    <v-carousel-item
      v-for="(item, index) in items"
      :key="`carousel-item-${index}`"
      :reverse-transition="reverseTransition"
      :transition="transition"
      :src="item.src"
      :href="link ? item.href : false"
      :link="link"
      target="_blank"
    />
  </v-carousel>
</template>

<script>
export default {
  name: 'CarouselEtcComponent',
  props: {
    items: {
      type: Array,
      default: () => []
    },
    link: {
      type: Boolean,
      default: false
    },
    hideDelimiters: {
      type: Boolean,
      default: false
    },
    hideDelimiterBackground: {
      type: Boolean,
      default: false
    },
    showArrowsOnHover: {
      type: Boolean,
      default: false
    },
    reverseTransition: {
      type: String,
      default: 'fade-transition'
    },
    transition: {
      type: String,
      default: 'fade-transition'
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>