<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :items-per-page="itemsPerPage"
    :search="search"
    :expanded="expanded"
    :item-key="itemKey"
    :show-expand="showExpand"
    :single-expand="singleExpand"
    :no-data-text="noDataText"
    hide-default-footer
  >
    <template v-for="(_, slotName) in $scopedSlots" #[slotName]="slotProps">
      <slot :name="slotName" v-bind="slotProps" />
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'DataTableEtcComponent',
  props: {
    headers: {
      type: Array,
      default: () => []
    },
    items: {
      type: Array,
      default: () => []
    },
    search: {
      type: String,
      default: undefined
    },
    itemsPerPage: {
      type: Number,
      default: -1
    },
    expanded: {
      type: Array,
      default: () => []
    },
    itemKey: {
      type: String,
      default: undefined
    },
    showExpand: {
      type: Boolean,
      default: false
    },
    singleExpand: {
      type: Boolean,
      default: false
    },
    noDataText: {
      type: String,
      default: 'ไม่พบข้อมูล'
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
