<template>
  <v-container class="fill-height primary" fluid>
    <v-card class="mx-auto" width="380" rounded="lg">
      <v-img :src="require('@/assets/logo.png')" />
      <v-card-title class="justify-center pt-0"> เข้าสู่ระบบ Back Office </v-card-title>
      <v-card-text class="pb-0">
        <v-form ref="form">
          <v-row no-gutters>
            <v-col cols="12">
              <v-text-field v-model="username" class="rounded-lg" :rules="rules.username" prepend-inner-icon="mdi mdi-account" color="black" label="ชื่อผู้ใช้" outlined dense @keyup.enter="login" />
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="password" class="rounded-lg" :rules="rules.password" :append-icon="isEyeToggle ? 'mdi-eye' : 'mdi-eye-off'" :type="isEyeToggle ? 'text' : 'password'" prepend-inner-icon="mdi mdi-lock" color="black" label="รหัสผ่าน" outlined dense @keyup.enter="login" @click:append="isEyeToggle = !isEyeToggle" />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider class="mx-4" />
      <v-card-actions class="d-block pa-4">
        <v-btn class="rounded-lg mb-3" elevation="0" color="black" dark block @click="login"> เข้าสู่ระบบ </v-btn>
        <v-btn class="rounded-lg ml-0" block outlined @click="back"> ย้อนกลับ </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import authApi from '@/services/api/authApi'
import { mixins } from '@/mixins'
export default {
  name: 'AuthPage',
  mixins: [mixins],
  data () {
    return {
      isEyeToggle: false,
      username: '',
      password: '',
      rules: {
        username: [v => !!v || 'ต้องระบุ'],
        password: [v => !!v || 'ต้องระบุ']
      }
    }
  },
  methods: {
    async login () {
      if (this.$refs.form.validate()) {
        try {
          const auth = await authApi.login({ username: this.username, password: this.password })
          localStorage.setItem('user', JSON.stringify(auth.data))
          const userStorage = localStorage.getItem('user')
          const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
          if (userStorageJSON.user.role === 0) {
            const token = userStorageJSON ? userStorageJSON.token : false
            const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
            if (checkToken.data && token) {
              await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'เข้าสู่ระบบสำเร็จ...' })
              this.$router.push({ name: 'DashboardPage' })
            }
          } else {
            await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: 'สิทธิ์ของคุณไม่สามารถเข้าถึง Back Office ได้...' })
            await authApi.logout()
            localStorage.clear()
          }
        } catch (error) {
          await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
          console.log('error from frontOffice layout', error)
        }
      }
    },
    back () {
      this.$router.replace({ name: 'HomePage' })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
