<template>
  <v-card v-if="!loading" class="d-flex flex-column justify-center overflow-auto pa-5" height="250" max-height="250" :color="backgroundColor" :elevation="elevation" rounded="xl">
    <v-card-text class="font-weight-medium text-h6 pa-0">
      <v-avatar :color="avatarColor">
        <v-icon :color="iconColor">{{ icon }}</v-icon>
      </v-avatar>
      <v-card-title class=" text-h5 mb-0 px-0">{{ `${value} ${suffix}` }}</v-card-title>
      <v-card-title class="mb-4 pa-0">{{ title }}</v-card-title>
      <v-card-subtitle class="pa-0">{{ description }}</v-card-subtitle>
    </v-card-text>
  </v-card>
  <v-skeleton-loader v-else class="pa-0" type="list-item-three-line" />
</template>

<script>
export default {
  name: 'SummaryCardComponent',
  props: {
    value: {
      type: [String, Number],
      default: undefined
    },
    suffix: {
      type: [String, Number],
      default: undefined
    },
    title: {
      type: String,
      default: undefined
    },
    description: {
      type: String,
      default: undefined
    },
    backgroundColor: {
      type: String,
      default: undefined
    },
    avatarColor: {
      type: String,
      default: undefined
    },
    iconColor: {
      type: String,
      default: 'white'
    },
    icon: {
      type: String,
      default: undefined
    },
    elevation: {
      type: [String, Number],
      default: 0
    },
    loading: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
