<template>
  <v-card class="rounded-xl" :color="color" elevation="0" rounded="0">
    <v-card-text class="d-flex align-center justify-space-around" :class="vertical ? 'flex-column' : ''">
      <p class="text-center" :class="vertical ? 'text-h6 mb-4' : 'mb-0'" :style="vertical ? 'width: 100%' : 'width: 15%'">{{ rank }}</p>
      <div class="d-flex align-center" :class="vertical ? 'd-flex flex-column justify-center' : ''" :style="vertical ? 'width: 100%' : 'width: 25%'">
        <v-avatar>
          <v-img :src="avatar ? avatar : require('@/assets/images/not_found_img.jpg')" height="100%" />
        </v-avatar>
        <div :class="vertical ? 'd-flex flex-column align-center' : ''">
          <v-card-title>{{ name }}</v-card-title>
          <v-card-subtitle>{{ username }}</v-card-subtitle>
        </div>
      </div>
      <v-card-title class="justify-center" :style="vertical ? 'width: 100%' : 'width: 20%'">
        <v-chip class="d-block text-center mb-0" :color="isPaid ? 'success' : 'error'" small style="width: 100px">{{ isPaid ? 'รับเงินแล้ว' : 'รอรับเงิน' }}</v-chip>
      </v-card-title>
      <p class="d-flex justify-center mb-0" :style="vertical ? 'width: 100%' : 'width: 40%'">
        <span class="mr-4">ยอดเงินที่ได้รับรวม {{ summaryPrice }} บาท</span>
        <span>น้ำหนักรวม {{ summaryWeight }} กิโลกรัม</span>
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'GarbageCardComponent',
  props: {
    rank: {
      type: [String, Number],
      default: 1
    },
    avatar: {
      type: String,
      default: 'https://cdn.vuetifyjs.com/images/profiles/marcus.jpg'
    },
    vertical: {
      type: Boolean,
      default: false
    },
    isPaid: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: 'Firstname Lastname'
    },
    username: {
      type: String,
      default: 'username'
    },
    summaryPrice: {
      type: Number,
      default: 0
    },
    summaryWeight: {
      type: Number,
      default: 0
    },
    color: {
      type: String,
      default: ''
    },
    elevation: {
      type: String,
      default: '0'
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>