<template>
  <v-app-bar elevation="0" height="72" dense app>
    <v-container class="d-flex justify-center align-center pa-0">
      <v-app-bar-nav-icon v-if="layout !== 'default' || $vuetify.breakpoint.mobile" class="mr-3" @click.stop="toggleDrawer" />
      <v-spacer v-if="layout === 'default' && $vuetify.breakpoint.mobile" />
      <v-toolbar-title class="d-flex align-center">
        <v-img class="mr-3" :src="require('@/assets/logo.png')" :width="$vuetify.breakpoint.mobile ? 40 : 80" />
        <span class="text-subtitle-2 text-md-h6">{{ title }}</span>
      </v-toolbar-title>
      <v-spacer />
      <template v-if="layout === 'default' && !$vuetify.breakpoint.mobile">
        <v-btn v-for="(menu, index) in menus" class="mr-2" :key="`btn-${index}`" :to="menu.link" text>{{ menu.title }}</v-btn>
        <v-spacer />
      </template>
      <v-menu bottom rounded offset-y>
        <template #activator="{ on }">
          <v-btn icon :x-large="layout !== 'default'" @click="profile(layout)">
            <v-avatar v-if="layout !== 'default'" v-on="on" :size="$vuetify.breakpoint.mobile ? 32 : 48">
              <v-img :src="avatar ? avatar : require('@/assets/images/profile.webp')" />
            </v-avatar>
            <v-icon v-else> mdi mdi-account-key </v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-img :src="avatarComputed" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold"> {{ nameComputed }} </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider />
            <v-list-item v-for="(profile, index) in profileLists" :key="`profile-list-${index}`" link @click="profileAction(index)">
              <v-list-item-icon>
                <v-icon>{{ profile.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ profile.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <span v-if="layout !== 'default'" class="font-weight-bold text-subtitle-2 text-md-h6 ml-3">{{ nameComputed }}</span>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppBarLayoutComponent',
  props: {
    title: {
      type: String,
      default: 'ระบบธนาคารขยะ'
    },
    name: {
      type: String,
      default: undefined
    },
    menus: {
      type: Array,
      default: () => []
    },
    profileLists: {
      type: Array,
      default: () => []
    },
    avatar: {
      type: String,
      default: undefined
    },
    layout: {
      type: String,
      default: 'default'
    }
  },
  computed: {
    avatarComputed () {
      return this.avatar ? this.avatar : require('@/assets/images/profile.webp')
    },
    nameComputed () {
      return this.name ? this.name : 'ไม่พบชื่อ - สกุล'
    }
  },
  methods: {
    toggleDrawer () {
      this.$emit('toggle')
    },
    profile () {
      this.$emit('profile', this.layout)
    },
    profileAction (index) {
      switch (index) {
      case 0:
        this.$emit('account')
        break
      case 1:
        this.$emit('logout')
        break
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>