<template>
  <v-footer padless>
    <v-container>
      <v-card class="primary text-center" flat tile>
        <v-card-text>
          <v-btn v-for="(contact, index) in contacts" class="black--text mx-4" :key="`contact-icon-${index}`" :href="contact.link" target="_blank" icon link>
            <v-icon size="24px">
              {{ contact.icon }}
            </v-icon>
          </v-btn>
        </v-card-text>

        <v-card-text class="black--text pt-0">
          ระบบธนาคารขยะสำหรับบันทึกข้อมูลการฝากขยะของบ้านเมืองปอนโรงพยาบาลส่งเสริมสุขภาพตำบลเมืองปอน Mueang Pon Health Promoting Hospital จัดทำโดย นาย คณาทิป คุณยศยิ่ง รหัสนักศึกษา 6204101307 และ นาย กฎกฤษ รัตนวงศ์ 6204101301 นักศึกษาสาขาวิชา วิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ จังหวัดเชียงใหม่
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="black--text">
          {{ new Date().getFullYear() }} — <span class="font-weight-bold"> ธนาคารขยะ </span>
        </v-card-text>
      </v-card>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterLayoutComponent',
  props: {
    contacts: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>