<template>
  <v-navigation-drawer
    v-model="drawer"
    :permanent="drawer"
    :fixed="$vuetify.breakpoint.mdAndup"
    :temporary="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm"
    :width="width"
    app
  >
    <template #prepend>
      <div v-if="!$vuetify.breakpoint.mdAndUp" class="text-right pt-2 pr-2">
        <v-btn icon @click="toggleDrawer">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </template>
    <v-list-item class="justify-center">
      <v-list-item-avatar size="120">
        <v-img :src="require('@/assets/logo.png')" contain />
      </v-list-item-avatar>
    </v-list-item>
    <v-list-item class="mt-n5">
      <v-list-item-content class="py-0">
        <v-list-item-title class="font-weight-bold text-center text-h6 grey--text"> ธนาคาขยะ ยินดีต้อนรับ </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider />

    <v-list dense>
      <v-list-item v-for="(item, index) in items" class="py-2" :key="index" link :to="item.link">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-if="logoutButton" #append>
      <div class="pa-2">
        <v-btn color="button" block @click="logout"> Logout </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'SideBarLayoutComponent',
  props: {
    items: {
      type: [Array],
      default: () => []
    },
    width: {
      type: [String, Number],
      default: 350
    },
    logoutButton: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      drawer: true
    }
  },
  methods: {
    toggleDrawer () {
      this.drawer = !this.drawer
    },
    logout () {
      this.$emit('logout')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
