<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    :name-confirm-btn="isLogin ? 'เข้าสู่ระบบ' : 'สมัครสมาชิก'"
    width="350"
    is-btn-block
    @confirm="confirm"
    @cancel="clear(true)"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <v-col v-if="!isLogin" cols="12" md="6">
            <v-text-field v-model="authObj.first_name" :rules="rules.first_name" color="black" label="ชื่อ" @keyup.enter="confirm" />
          </v-col>
          <v-col v-if="!isLogin" cols="12" md="6">
            <v-text-field v-model="authObj.last_name" :rules="rules.last_name" color="black" label="สกุล" @keyup.enter="confirm" />
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="authObj.username" :rules="rules.username" prepend-inner-icon="mdi-account-outline" color="black" label="ชื่อผู้ใช้" dense @keyup.enter="confirm" />
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="authObj.password" :append-icon="isEyePasswordToggle ? 'mdi-eye' : 'mdi-eye-off'" :type="isEyePasswordToggle ? 'text' : 'password'" :rules="rules.password" prepend-inner-icon="mdi-lock-outline" color="black" label="รหัสผ่าน" dense @keyup.enter="confirm" @click:append="isEyePasswordToggle = !isEyePasswordToggle" />
          </v-col>
          <v-col v-if="!isLogin" cols="12">
            <v-text-field v-model="password_confirmation" :append-icon="isEyePasswordConfirmationToggle ? 'mdi-eye' : 'mdi-eye-off'" :type="isEyePasswordConfirmationToggle ? 'text' : 'password'" :rules="rules.password_confirmation" prepend-inner-icon="mdi-lock-outline" color="black" label="ยืนยันรหัสผ่าน" dense @keyup.enter="confirm" @click:append="isEyePasswordToggle = !isEyePasswordToggle" />
          </v-col>
        </v-row>
      </v-form>
      <p class="pb-0">
        <span class="mr-2">{{ isLogin ? 'หรือคุณยังไม่ได้เป็นสมาชิก' : 'หากคุณเป็นสมาชิกอยู่แล้ว' }} ?</span>
        <span class="font-weight-bold black--text cursor-pointer" @click="toggleMode">{{ isLogin ? 'สมัครเลย' : 'เข้าสู่ระบบ' }}</span>
      </p>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '../base.vue'
export default {
  name: 'AuthDialogComponent',
  components: {
    baseDialogComponent
  },
  data () {
    return {
      isLogin: true,
      isEyePasswordToggle: false,
      isEyePasswordConfirmationToggle: false,
      authObj: {
        first_name: '',
        last_name: '',
        username: '',
        password: ''
      },
      password_confirmation: '',
      rules: {
        first_name: [v => !!v || 'ต้องระบุ'],
        last_name: [v => !!v || 'ต้องระบุ'],
        username: [v => !!v || 'ต้องระบุ'],
        password: [v => !!v || 'ต้องระบุ'],
        password_confirmation: [
          v => !!v || 'ต้องระบุ',
          v => v === this.authObj.password || 'Passwords must match'
        ]
      }
    }
  },
  computed: {
    dialogName () {
      return this.isLogin ? 'เข้าสู่ระบบ' : 'สมัครสมาชิก'
    }
  },
  methods: {
    show () {
      this.$refs.baseDialogComponent.show()
    },
    toggleMode () {
      this.isLogin = !this.isLogin
      this.clear()
    },
    confirm () {
      if (this.$refs.form.validate()) {
        this.$emit('confirm', this.authObj, this.isLogin)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear (isClearAll = false) {
      this.authObj = {
        first_name: '',
        last_name: '',
        username: '',
        password: ''
      }
      this.password_confirmation = ''
      if (isClearAll) {
        this.isLogin = true
      }
      this.$refs.form.resetValidation()
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>