<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="500"
    @confirm="confirm"
    @cancel="clear"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <template v-for="(image, index) in garbageCategory.garbage_category_image">
            <v-col v-if="image.length > 0" class="d-flex justify-center align-center" :key="`image-${index}`" cols="12" md="3">
              <v-avatar v-if="!imageErrors[index]" size="100%" tile>
                <v-img :src="image" @error="imageLoadError(index)" />
              </v-avatar>
              <p v-else class="mb-0"> ไม่พบรูปภาพนี้ </p>
            </v-col>
          </template>
          <v-col v-for="(_, index) in garbageCategory.garbage_category_image" class="pb-0" :key="index" cols="12">
            <v-text-field v-model="garbageCategory.garbage_category_image[index]" :rules="rules.garbage_category_image" :append-icon="garbageCategory.garbage_category_image.length > 1 ? 'mdi mdi-close' : ''" color="black" :label="`รูปภาพ รูปที่ ${index + 1}`" dense @input="updateImageErrors" @click:append="removeTextFieldImage(index)" />
          </v-col>
          <v-col v-if="garbageCategory.garbage_category_image.length > 0 && garbageCategory.garbage_category_image.length < 4" class="text-center py-0" cols="12">
            <v-btn icon outlined @click="addTextFieldImage">
              <v-icon> mdi mdi-plus </v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field v-model="garbageCategory.garbage_category_name" :rules="rules.garbage_category_name" color="black" label="ชื่อขยะ" />
          </v-col>
          <v-col cols="12" md="6">
            <v-select v-model="garbageCategory.garbages" :items="garbages" item-text="garbage_name" item-value="_id" item-color="black" color="black" label="ขยะ" multiple hide-details />
          </v-col>
          <v-col class="pb-0" cols="12">
            <v-textarea v-model="garbageCategory.garbage_category_detail" :rules="rules.garbage_category_detail" color="black" label="รายละเอียด" outlined  />
          </v-col>
        </v-row>
      </v-form>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import garbageApi from '@/services/api/garbagesApi'
import { mixins } from '@/mixins'
export default {
  name: 'ProfileDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  data () {
    return {
      isEdit: false,
      isImgError: false,
      imageErrors: [],
      garbageCategory: {
        garbage_category_image: [''],
        garbage_category_name: '',
        garbage_category_detail: '',
        garbages: []
      },
      rules: {
        garbage_category_image: [v => !!v || 'ต้องระบุ'],
        garbage_category_name: [v => !!v || 'ต้องระบุ'],
        garbage_category_detail: [v => !!v || 'ต้องระบุ']
      },
      garbages: []
    }
  },
  computed: {
    dialogName () {
      return this.isEdit ? 'แก้ไขหมวดหมู่ขยะ' : 'เพิ่มหมวดหมู่ขยะ'
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const garbages = await garbageApi.find()
      this.garbages = garbages.data
    },
    show (data) {
      if (data) {
        this.isEdit = true
        this.garbageCategory = { ...data }
      }
      this.updateImageErrors()
      this.$refs.baseDialogComponent.show()
    },
    imageLoadError (index) {
      this.$set(this.imageErrors, index, true)
    },
    updateImageErrors () {
      this.imageErrors = new Array(this.garbageCategory.garbage_category_image.length).fill(false)
    },
    addTextFieldImage () {
      if (this.garbageCategory.garbage_category_image.length > 0 && this.garbageCategory.garbage_category_image.length < 4) {
        this.garbageCategory.garbage_category_image.push('')
      }
    },
    removeTextFieldImage (index) {
      this.garbageCategory.garbage_category_image.splice(index, 1)
    },
    confirm () {
      if (this.$refs.form.validate()) {
        this.$emit('confirm', this.garbageCategory, this.isEdit)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear () {
      this.garbageCategory = {
        garbage_category_image: [''],
        garbage_category_name: '',
        garbage_price: '',
        garbage_category_detail: '',
        garbage_category: ''
      }
      this.imageErrors = []
      this.isImgError = false
      this.isEdit = false
      this.$refs.form.resetValidation()
      this.$emit('fetchData')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
