<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    dialog-name="ฝากขยะ"
    color="backgroundColor"
    width="500"
    @confirm="confirm"
    @cancel="clear"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <v-col cols="12">
            <v-autocomplete v-model="garbageDeposits.userID" :items="users" :rules="rules.userID" :append-icon="garbageDeposits.userID ? 'mdi mdi-close' : 'mdi mdi-menu-down'" :disabled="isAddSubTransaction || isEditSubTransaction" label="ผู้ฝากขยะ" color="black" item-text="full_name" item-value="_id" @click:append="clearUser()">
              <template #selection="{ item }">
                <v-chip>
                  <v-avatar left>
                    <v-img :src="item.image ? item.image : require('@/assets/images/not_found_img.jpg')" />
                  </v-avatar>
                  <span>{{ item.full_name }}</span>
                </v-chip>
              </template>
              <template #item="{ item, attrs, on }">
                <v-list-item v-bind="attrs" v-on="on" active-class="black--text">
                  <v-list-item-avatar>
                    <v-img :src="item.image ? item.image : require('@/assets/images/not_found_img.jpg')" />
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ item.full_name }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12">
            <v-autocomplete v-model="garbageDeposits.transaction" :items="garbages" :rules="rules.transaction" :append-icon="garbageDeposits.transaction.length > 0 ? 'mdi mdi-close' : 'mdi mdi-menu-down'" :disabled="isEditSubTransaction || isEditAccount" label="ขยะ" color="black" item-text="garbage_name" item-value="_id" multiple @click:append="clearGarbage()">
              <template #selection="{ item }">
                <v-chip :close="!isEditSubTransaction && !isEditAccount" @click:close="removeGarbage(item)">
                  <v-avatar left>
                    <v-img :src="item.garbage_image[0]" />
                  </v-avatar>
                  <span>{{ item.garbage_name }}</span>
                </v-chip>
              </template>
              <template #item="{ item, attrs, on }">
                <v-list-item v-bind="attrs" v-on="on" active-class="black--text" @click="toggleSelection(item)">
                  <v-list-item-avatar class="mr-4">
                    <img :src="item.garbage_image[0]">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ item.garbage_name }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <template v-for="(select, index) in selected">
            <v-col :key="`quantity-${index}`" cols="12" md="6">
              <v-text-field v-model.number="select.transaction_history_weight" :rules="rules.transaction_history_weight" :prepend-icon="`${index + 1}`" :label="`น้ำหนักของ${select.garbage_name}ที่นำมาฝาก (กก.)`" :disabled="isEditAccount" color="black" type="number" hide-spin-buttons @change="calculateTotal(select, index)" />
            </v-col>
            <v-col :key="`total-${index}`" cols="12" md="6">
              <v-text-field v-model.number="select.transaction_history_total" :rules="rules.transaction_history_total" :label="`ราคารวมของ${select.garbage_name}`" disabled color="black" type="number" hide-spin-buttons />
            </v-col>
          </template>
          <v-col cols="12">
            <v-menu v-model="menu" :close-on-content-click="false" :nudge-right="40" min-width="auto" transition="scale-transition" offset-y>
              <template #activator="{ on, attrs }">
                <v-text-field v-model="garbageDeposits.created_at" v-on="on" v-bind="attrs" color="black" label="วันที่ฝากขยะ" prepend-icon="mdi-calendar" readonly />
              </template>
              <v-date-picker v-model="garbageDeposits.created_at" :min="minDate" color="black" />
            </v-menu>
          </v-col>
        </v-row>
      </v-form>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import garbageApi from '@/services/api/garbagesApi'
import userApi from '@/services/api/userApi'
import { mixins } from '@/mixins'
export default {
  name: 'ProfileDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  data () {
    return {
      isAddAllTransaction: false,
      isAddSubTransaction: false,
      isEditSubTransaction: false,
      isEditAccount: false,
      selected: [],
      minDate: new Date().toISOString().substr(0, 10),
      garbageDeposits: {
        _id: null,
        userID: null,
        transaction: [],
        is_paid: false,
        summary_price: 0,
        summary_weight: 0,
        created_at: this.formatDate(new Date())
      },
      rules: {
        userID: [v => !!v || 'ต้องระบุ'],
        transaction: [v => !!v.length > 0 || 'ต้องระบุ'],
        transaction_history_weight: [v => !!v || 'ต้องระบุ'],
        transaction_history_total: [v => !!v || 'ต้องระบุ']
      },
      users: [],
      garbages: [],
      menu: null
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const users = await userApi.find()
      const garbages = await garbageApi.find()
      this.garbages = garbages.data.map((item) => {
        const obj = { ...item, transaction_history_weight: 0, transaction_history_total: 0 }
        return obj
      })
      this.users = users.data.map(item => {
        const obj = { full_name: `${item.first_name} ${item.last_name}`, ...item }
        return obj
      })
    },
    show () {
      this.isAddAllTransaction = true
      this.$refs.baseDialogComponent.show()
    },
    calculateTotal (data, index) {
      this.selected[index].transaction_history_total = data.garbage_price * data.transaction_history_weight
    },
    removeGarbage (item) {
      const index = this.selected.findIndex((element) => element._id === item._id)
      this.garbageDeposits.transaction.splice(index, 1)
      this.selected.splice(index, 1)
    },
    closeDate () {
      this.dateMenu = false
    },
    clearUser () {
      this.garbageDeposits.userID = null
    },
    clearGarbage () {
      this.selected = []
      this.garbageDeposits.transaction = []
    },
    toggleSelection (item) {
      const index = this.selected.findIndex((element) => element._id === item._id)
      if (index >= 0) {
        this.selected.splice(index, 1)
      } else {
        this.selected.push({ ...item, transaction_history_date: this.formatDate(new Date()) })
      }
    },
    isSelected (item) {
      return this.selected.includes(item)
    },
    confirm () {
      if (this.$refs.form.validate()) {
        const transaction = this.selected.map(item => {
          const obj = {
            garbages: item._id,
            transaction_history_weight: item.transaction_history_weight,
            transaction_history_total: item.transaction_history_total,
            transaction_history_date: this.convertDateToISO(item.transaction_history_date)
          }
          return obj
        })
        const obj = {
          user: this.garbageDeposits.userID,
          transaction: transaction,
          is_paid: false,
          summary_price: transaction.reduce((prev, cur) => prev + cur.transaction_history_total, 0),
          summary_weight: transaction.reduce((prev, cur) => prev + cur.transaction_history_weight, 0),
          created_at: this.convertDateToISO(this.formatDate(this.garbageDeposits.created_at)),
          updated_at: this.convertDateToISO(this.formatDate(this.garbageDeposits.created_at))
        }
        this.$emit('confirm', obj)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear () {
      this.selected = [],
      this.garbageDeposits = {
        _id: null,
        userID: null,
        transaction: [],
        is_paid: false,
        summary_price: 0,
        summary_weight: 0,
        created_at: this.formatDate(Date.now())
      }
      this.isEditAccount = false
      this.isAddAllTransaction = false
      this.isAddSubTransaction = false
      this.isEditSubTransaction = false
      this.$refs.form.resetValidation()
      this.$emit('fetchData')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
