<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="500"
    @confirm="confirm"
    @cancel="clear"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <v-col cols="12">
            <v-img v-if="news.news_image && !isImgError" :src="news.news_image" @error="imageLoadError" />
            <p v-else class="text-center mb-0"> ไม่พบรูปภาพนี้ </p>
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="news.news_image" :rules="rules.news_image" color="black" label="รูปภาพ" dense @input="updateImageError" />
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="news.news_src" :rules="rules.news_src" color="black" label="ลิงค์ข่าวสาร" />
          </v-col>
        </v-row>
      </v-form>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import { mixins } from '@/mixins'
export default {
  name: 'ProfileDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  data () {
    return {
      isEdit: false,
      isImgError: false,
      news: {
        news_image: '',
        news_src: ''
      },
      rules: {
        news_image: [v => !!v || 'ต้องระบุ'],
        news_src: [v => !!v || 'ต้องระบุ']
      },
      category: []
    }
  },
  computed: {
    dialogName () {
      return this.isEdit ? 'แก้ไขข้อมูลข่าวสาร' : 'เพิ่มข้อมูลข่าวสาร'
    }
  },
  methods: {
    show (data) {
      if (data) {
        this.isEdit = true
        this.news = { ...data }
      }
      this.$refs.baseDialogComponent.show()
    },
    imageLoadError () {
      this.isImgError = true
    },
    updateImageError () {
      this.isImgError = false
    },
    confirm () {
      if (this.$refs.form.validate()) {
        this.$emit('confirm', this.news, this.isEdit)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear () {
      this.news = {
        news_image: '',
        news_src: ''
      }
      this.isImgError = false
      this.isEdit = false
      this.$refs.form.resetValidation()
      this.$emit('fetchData')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
