<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="350"
    is-btn-block
    @confirm="confirm"
    @cancel="clear"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <v-col class="text-center">
            <v-avatar size="100" color="primary">
              <v-img :src="profile.image ? profile.image : require('@/assets/images/profile.webp')" />
            </v-avatar>
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="profile.image" :rules="rules.password" color="black" label="รูปภาพ" dense />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field v-model="profile.first_name" :rules="rules.first_name" color="black" label="ชื่อ" />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field v-model="profile.last_name" :rules="rules.last_name" color="black" label="สกุล" />
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="profile.username" :rules="rules.username" prepend-inner-icon="mdi-account-outline" color="black" label="ชื่อผู้ใช้" dense readonly />
          </v-col>
        </v-row>
      </v-form>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import { mixins } from '@/mixins'
export default {
  name: 'ProfileDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  props: {
    dialogName: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      profile: {
        id: null,
        first_name: '',
        last_name: '',
        username: '',
        password: '',
        image: null
      },
      rules: {
        first_name: [v => !!v || 'ต้องระบุ'],
        last_name: [v => !!v || 'ต้องระบุ'],
        username: [v => !!v || 'ต้องระบุ'],
        password: [v => !!v || 'ต้องระบุ'],
        password_confirmation: [
          v => !!v || 'ต้องระบุ',
          v => v === this.profile.password || 'Passwords must match'
        ]
      }
    }
  },
  mounted () {
    this.previewProfile()
  },
  methods: {
    show () {
      this.$refs.baseDialogComponent.show()
    },
    previewProfile () {
      const userStorage = localStorage.getItem('user')
      const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
      this.profile = {
        id: userStorageJSON.user._id,
        image: userStorageJSON.user.image,
        first_name: userStorageJSON.user.first_name,
        last_name: userStorageJSON.user.last_name,
        username: userStorageJSON.user.username
      }
    },
    confirm () {
      if (this.$refs.form.validate()) {
        this.$emit('confirm', this.profile)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear () {
      this.form = {
        id: null,
        first_name: '',
        last_name: '',
        username: '',
        password: '',
        image: null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
