<template>
  <v-container class="max-width-container fill-height">
    <v-row>
      <v-col class="d-flex justify-center align-center" cols="12" md="6">
        <div class="text-center text-md-start">
          <p class="text-h5 font-weight-bold"> ที่อยู่ติดต่อ </p>
          <p v-html="contact.address" class="text-h6 font-weight-mediuum" />
          <v-divider />
        </div>
      </v-col>
      <v-col class="pb-2" cols="12" md="6">
        <div class="text-center" >
          <iframe
            :src="contact.map"
            :width="$vuetify.breakpoint.xs ? 300 : 550"
            :height="$vuetify.breakpoint.xs ? 250 : 500"
            referrerpolicy="no-referrer-when-downgrade"
            loading="lazy"
            allowfullscreen
            style="border: none"
          />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ContactPage',
  data () {
    return {
      contact: {
        address: '<p>โรงพยาบาลส่งเสริมสุขภาพตำบลเมืองปอน <br> Mueang Pon Health Promoting Hospital <br> โทรศัพท์ 053691105 <br> โทรสาร 053691105</p>',
        map: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d966556.2094632183!2d97.48218984949911!3d18.85999243512621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dad0c6344f7b4d%3A0x2a4f48587e3578c!2z4LmC4Lij4LiH4Lie4Lii4Liy4Lia4Liy4Lil4Liq4LmI4LiH4LmA4Liq4Lij4Li04Lih4Liq4Li44LiC4Lig4Liy4Lie4LiV4Liz4Lia4Lil4LmA4Lih4Li34Lit4LiH4Lib4Lit4LiZIE11ZWFuZyBQb24gSGVhbHRoIFByb21vdGluZyBIb3NwaXRhbA!5e0!3m2!1sth!2sth!4v1701316042457!5m2!1sth!2sth'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>