<template>
  <v-container class="max-width-container fill-height">
    <v-card class="pa-4" rounded="lg">
      <v-row>
        <v-col cols="12" md="6">
          <v-card-title> ระบบร้องเรียน </v-card-title>
          <v-card-subtitle> ระบบร้องเรียนเมื่อไม่พอใจการกระทำของเจ้าหน้าที่ หรือ ระบบ </v-card-subtitle>
          <v-card-text class="pb-3">
            <v-form ref="form">
              <v-row>
                <v-col class="p-0" cols="12">
                  <v-text-field v-model="$store.state.feedback.title" :rules="$store.state.feedback.rules.title" label="หัวข้อร้องเรียน" filled flat />
                </v-col>
                <v-col class="mt-n2 py-0" cols="12">
                  <v-textarea v-model="$store.state.feedback.detail" :rules="$store.state.feedback.rules.detail" label="รายละเอียดการร้องเรียน" height="250" filled />
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions class="px-4 py-0">
            <v-btn color="button" elevation="0" block @click="feedback"> ร้องเรียน </v-btn>
          </v-card-actions>
        </v-col>
        <v-col cols="12" md="6">
          <v-row>
            <v-col>
              <v-img :src="require('@/assets/images/feedback.png')" />
            </v-col>
            <v-col>
              <div class="mb-3">
                <v-btn class="mr-4" color="grey" outlined icon rounded>
                  <v-icon> mdi-map-marker </v-icon>
                </v-btn>
                <span> โรงพยาบาลส่งเสริมสุขภาพตำบลเมืองปอน </span>
              </div>
              <div>
                <v-btn class="mr-4" color="grey" outlined icon rounded>
                  <v-icon> mdi-phone </v-icon>
                </v-btn>
                <span> โทรศัพท์ 053691105 </span>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
    <authDialogComponent ref="authDialogComponent" @confirm="auth" />
  </v-container>
</template>

<script>
import authDialogComponent from '@/components/dialogs/forms/auth.vue'
import feedbackApi from '@/services/api/feedbackApi'
import authApi from '@/services/api/authApi'
import { mixins } from '@/mixins'
export default {
  name: 'FeedbackPage',
  components: { authDialogComponent },
  mixins: [mixins],
  methods: {
    async feedback () {
      try {
        if (this.$refs.form.validate()) {
          const userStorage = localStorage.getItem('user')
          const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
          const token = userStorageJSON ? userStorageJSON.token : false
          const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
          if (checkToken.data && token) {
            await feedbackApi.create({
              feedback_title: this.$store.state.feedback.title,
              feedback_details: this.$store.state.feedback.detail,
              user: userStorageJSON.user._id
            })
            await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ร้องเรียนสำเร็จ...' })
          } else {
            this.$refs.authDialogComponent.show()
          }
        }
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: error.response.data.message })
        console.log('error from feedback', error.response.data.message)
      }
    },
    async auth (data, status) {
      try {
        if (status) {
          const { username, password } = data
          const auth = await authApi.login({ username, password })
          localStorage.setItem('user', JSON.stringify(auth.data))
          const userStorage = localStorage.getItem('user')
          const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
          if (userStorageJSON.user.role === 0 || userStorageJSON.user.role === 1) {
            const token = userStorageJSON ? userStorageJSON.token : false
            const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
            if (checkToken.data && token) {
              await this.$refs.authDialogComponent.close()
              await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'เข้าสู่ระบบสำเร็จ...' })
              this.$router.push({ name: 'FeedbackPostAuthPage' })
            }
          } else {
            await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: 'สิทธิ์ของคุณไม่สามารถเข้าถึง Back Office ได้...' })
            await authApi.logout()
            localStorage.clear()
          }
        } else {
          await authApi.register({ ...data, role: 1 })
          await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ลงทะเบียนสำเร็จ...' })
          this.$refs.authDialogComponent.toggleMode()
        }
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: error.response.data.message })
        console.log('error from feedback', error.response.data.message)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>