<template>
  <div>
    <carouselComponent :items="carousels" hide-delimiter-background hide-delimiters show-arrows-on-hover link />
    <template v-for="(category, index) in categories">
      <v-container :class="index % 2 === 0 ? 'primary' : 'white'" :key="`category-${index}`" fluid>
        <v-container class="max-width-container pa-0">
          <v-row class="mt-16 mb-16">
            <v-col cols="12" md="6">
              <div v-if="index % 2 === 0" class="d-flex flex-column justify-center h-100">
                <p class="text-h4">{{ category.garbage_category_name }}</p>
                <p>{{ category.garbage_category_detail }}</p>
              </div>
              <v-img v-else :src="category.garbage_category_image[0]" height="400" />
            </v-col>
            <v-col cols="12" md="6">
              <div v-if="index % 2 !== 0" class="d-flex flex-column justify-center h-100 text-end">
                <p class="text-h4">{{ category.garbage_category_name }}</p>
                <p>{{ category.garbage_category_detail }}</p>
              </div>
              <v-img v-else :src="category.garbage_category_image[0]" height="400" />
            </v-col>
            <v-col md="4" v-for="imageIndex in [1, 2, 3]" :key="`image-${imageIndex}`">
              <v-img :src="category.garbage_category_image[imageIndex]" height="250" />
            </v-col>
          </v-row>
        </v-container>
      </v-container>
    </template>
  </div>
</template>

<script>
import carouselComponent from '@/components/etc/carousel.vue'
import carouselApi from '@/services/api/newsApi'
import categoryApi from '@/services/api/garbagesApi/categoryApi'
export default {
  name: 'HomePage',
  components: { carouselComponent },
  data () {
    return {
      carousels: [],
      categories: []
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const carousels = await carouselApi.find()
      const category = await categoryApi.find()
      this.carousels = carousels.data.map(item => ({ src: item.news_image, href: item.news_src }))
      this.categories = category.data
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
