<template>
  <div>
    <v-container fluid>
      <v-container class="max-width-container">
        <v-row>
          <v-col v-if="items.length <= 3" />
          <v-col v-for="(item, index) in items" :key="`garbages-${index}`" cols="12">
            <rankingCardComponent :rank="index + 1" :avatar="item.user.image" :name="`${item.user.first_name} ${item.user.last_name}`" :username="item.user.username" :summary-price="item.summary_price" :summary-weight="item.summary_weight" :isPaid="item.is_paid" :vertical="index <= 2" color="primary" />
          </v-col>
          <v-col v-if="items.length <= 3" />
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>

<script>
import rankingCardComponent from '@/components/cards/frontOffice/ranking.vue'
import transactionHistoryApi from '@/services/api/transactionHistoryApi'
export default {
  name: 'GarbagePage',
  components: { rankingCardComponent },
  data () {
    return {
      items: []
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const transaction = await transactionHistoryApi.find()
      this.items = Object.values(transaction.data.filter(item => item.user.role !== 0).reduce((acc, curr, index) => {
        const userId = curr.user._id
        if (!acc[userId]) {
          acc[userId] = { ...curr, index }
        } else {
          acc[userId].summary_price += curr.summary_price
          acc[userId].summary_weight += curr.summary_weight
        }
        return acc
      }, {})).sort((a, b) => b.summary_price - a.summary_price || a.index - b.index).slice(0, 10)
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
