<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="350"
    @confirm="confirm"
  >
    <template #body>
      <v-date-picker v-model="date" width="100%" color="black" scrollable />
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
export default {
  name: 'DetailDialogComponent',
  components: { baseDialogComponent },
  props: {
    dialogName: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
    }
  },
  methods: {
    show () {
      this.$refs.baseDialogComponent.show()
    },
    confirm () {
      this.$emit('confirm', this.date)
      this.close()
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
