<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="350"
    hide-action
  >
    <template #body>
      <slot name="detail">
        <p class="mb-0">{{ detail }}</p>
      </slot>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
export default {
  name: 'DetailDialogComponent',
  components: { baseDialogComponent },
  props: {
    dialogName: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      detail: null
    }
  },
  methods: {
    show (data) {
      this.$refs.baseDialogComponent.show()
      this.detail = data
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
