<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    name-confirm-btn="ชำระเงิน"
    color="backgroundColor"
    width="350"
    @confirm="confirm"
  >
    <template #body>
      <p class="mb-0"> คุณต้องการชำระเงินให้ {{ obj?.fullName }} เป็นจำนวน {{ obj?.summary }} บาทหรือไม่ </p>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import { mixins } from '@/mixins'
export default {
  name: 'DetailDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  props: {
    dialogName: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      obj: null
    }
  },
  methods: {
    show (data) {
      this.$refs.baseDialogComponent.show()
      this.obj = data
    },
    confirm () {
      let newData = { ...this.obj, is_paid: true, updated_at: this.convertDateToISO(this.formatDate(new Date())) }
      delete newData.fullName
      delete newData.summary
      this.$emit('confirm', newData)
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
