<template>
  <v-app>
    <appBarComponent :menus="menus" @profile="profile" @toggle="toggle" />
    <sideBarComponent v-if="$vuetify.breakpoint.mobile" ref="sideBarComponent" :items="menus" />
    <v-main>
      <router-view />
    </v-main>
    <footerComponent :contacts="footerContacts" />
    <authDialogComponent ref="authDialogComponent" @confirm="auth" />
  </v-app>
</template>

<script>
import appBarComponent from '@/components/layouts/appBar.vue'
import sideBarComponent from '@/components/layouts/sideBar.vue'
import footerComponent from '@/components/layouts/footer.vue'
import authDialogComponent from '@/components/dialogs/forms/auth.vue'
import { mixins } from '@/mixins'
import authApi from '@/services/api/authApi'
export default {
  name: 'DefaultLayout',
  components: { appBarComponent, sideBarComponent, footerComponent, authDialogComponent },
  mixins: [mixins],
  data () {
    return {
      menus: [
        { title: 'หน้าแรก', link: '/' },
        { title: 'ขยะที่รับซื้อ', link: '/garbage' },
        { title: 'อันดับ', link: '/ranking' },
        { title: 'ข้อมูลติดต่อ', link: '/contact' },
        { title: 'ร้องเรียน', link: '/feedback' }
      ],
      footerContacts: [
        { icon: 'mdi-facebook', link: 'https://shorturl.at/kCD04' },
        { icon: 'mdi-web', link: 'https://shorturl.at/wxCMV' },
        { icon: 'mdi-linkedin', link: 'https://shorturl.at/adM38' }
      ]
    }
  },
  methods: {
    profile (layout) {
      if (layout === 'default') {
        this.$refs.authDialogComponent.show()
      }
    },
    toggle () {
      this.$refs.sideBarComponent.toggleDrawer()
    },
    async auth (data, status) {
      try {
        if (status) {
          const { username, password } = data
          const auth = await authApi.login({ username, password })
          localStorage.setItem('user', JSON.stringify(auth.data))
          const userStorage = localStorage.getItem('user')
          const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
          if (userStorageJSON.user.role === 0 || userStorageJSON.user.role === 1) {
            const token = userStorageJSON ? userStorageJSON.token : false
            const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
            if (checkToken.data && token) {
              await this.$refs.authDialogComponent.close()
              await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'เข้าสู่ระบบสำเร็จ...' })
              this.$router.push({ name: 'TransactionHistoryPage' })
            }
          } else {
            await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: 'สิทธิ์ของคุณไม่สามารถเข้าถึง Back Office ได้...' })
            await authApi.logout()
            localStorage.clear()
          }
        } else {
          await authApi.register({ ...data, role: 1 })
          await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ลงทะเบียนสำเร็จ...' })
          this.$refs.authDialogComponent.toggleMode()
        }
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
        console.log('error from default layout', error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
