<template>
  <v-app>
    <appBarComponent :avatar="appBarProfileAvatar" :name="appBarProfileName" :profile-lists="appBarProfileLists" layout="frontOffice" @toggle="toggleSidebar" @account="account" @logout="logout" />
    <sideBarComponent ref="sideBarComponent" :items="sideBarItems" logout-button @logout="logout" />
    <v-main>
      <router-view />
    </v-main>
    <profileDialogComponent ref="profileDialogComponent" dialog-name="โปรไฟล์" @confirm="updateProfile" />
  </v-app>
</template>

<script>
import appBarComponent from '@/components/layouts/appBar.vue'
import sideBarComponent from '@/components/layouts/sideBar.vue'
import profileDialogComponent from '@/components/dialogs/forms/profile.vue'
import authApi from '@/services/api/authApi'
import userApi from '@/services/api/userApi'
import { mixins } from '@/mixins'
export default {
  name: 'FrontendLayout',
  components: { appBarComponent, sideBarComponent, profileDialogComponent },
  mixins: [mixins],
  data () {
    return {
      appBarProfileAvatar: '',
      appBarProfileName: '',
      appBarProfileLists: [
        { icon: 'mdi mdi-account-outline', name: 'จัดการบัญชี' },
        { icon: 'mdi mdi-logout', name: 'ออกจากระบบ' }
      ],
      sideBarItems: [
        { title: 'ประวัติการทำรายการ', icon: 'mdi-history', link: '/front-office/transaction-history' },
        { title: 'ร้องเรียน', icon: 'mdi-message-draw', link: '/front-office/feedback' }
      ]
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      const userStorage = localStorage.getItem('user')
      const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
      this.appBarProfileAvatar = userStorageJSON.user.image
      this.appBarProfileName = `${userStorageJSON.user.first_name} ${userStorageJSON.user.last_name}`
    },
    async auth (data, status) {
      try {
        if (status) {
          const { username, password } = data
          const auth = await authApi.login({ username, password })
          localStorage.setItem('user', JSON.stringify(auth.data))
          const userStorage = localStorage.getItem('user')
          const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
          if (userStorageJSON.user.role === 0 || userStorageJSON.user.role === 1) {
            const token = userStorageJSON ? userStorageJSON.token : false
            const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
            if (checkToken.data && token) {
              await this.$refs.authDialogComponent.close()
              await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'เข้าสู่ระบบสำเร็จ...' })
              this.$router.push({ name: 'TransactionHistoryPage' })
            }
          } else {
            await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', icon: 'error', title: 'สิทธิ์ของคุณไม่สามารถเข้าถึง Back Office ได้...' })
            await authApi.logout()
            localStorage.clear()
          }
        } else {
          await authApi.register({ ...data, role: 1 })
          await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ลงทะเบียนสำเร็จ...' })
          this.$refs.authDialogComponent.toggleMode()
        }
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
        console.log('error from frontOffice layout', error)
      }
    },
    async logout () {
      try {
        const userStorage = localStorage.getItem('user')
        const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
        const token = userStorageJSON ? userStorageJSON.token : false
        const checkToken = userStorageJSON ? await authApi.checkToken(userStorageJSON) : false
        if (checkToken.data && token) {
          await authApi.logout()
          await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'ออกจากระบบสำเร็จ...' })
          await this.$router.replace({ name: 'HomePage' })
          localStorage.clear()
        }
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
        console.log('error from frontOffice layout', error)
      }
    },
    async updateProfile (data) {
      try {
        const { id, ...newObj } = data
        const user = await userApi.update(id, newObj)
        const userStorage = localStorage.getItem('user')
        const userStorageJSON = userStorage ? JSON.parse(userStorage) : false
        userStorageJSON.user.image = await user.data.image
        userStorageJSON.user.first_name = await user.data.first_name
        userStorageJSON.user.last_name = await user.data.last_name
        localStorage.setItem('user', JSON.stringify(userStorageJSON))
        this.fetchData()
        this.$refs.profileDialogComponent.close()
        this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: 'อัพเดตโปรไฟล์สำเร็จ...' })
      } catch (error) {
        await this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: error.response.data.message, icon: 'error' })
        console.log('error from frontOffice layout', error)
      }
    },
    account () {
      this.$refs.profileDialogComponent.show()
    },
    toggleSidebar () {
      this.$refs.sideBarComponent.toggleDrawer()
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
