<template>
  <v-dialog v-model="dialog" :width="width" persistent>
    <v-card class="rounded-lg" :color="color" :rounded="rounded">
      <v-card-title class="pt-5 px-5 pb-0">
        <span class="mx-auto text-subtitle-1 text-md-h5">{{ dialogName }}</span>
        <v-btn absolute right elevation="0" icon @click="cancel">
          <v-icon color="black">mdi mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pa-5">
        <slot name="body" />
      </v-card-text>
      <v-card-actions v-if="!hideAction" class="justify-center pt-0 px-5 pb-5" :class="isBtnBlock ? 'flex-column flex-column-reverse' : ''">
        <v-btn class="rounded-lg" :block="isBtnBlock" elevation="0" outlined @click="cancel">
          <span class="font-weight-regular"> {{ nameCancelBtn }} </span>
        </v-btn>
        <v-btn class="rounded-lg" :class="isBtnBlock ? 'mb-2 ml-0' : ''" :block="isBtnBlock" dark elevation="0" @click="confirm">
          <span class="font-weight-regular"> {{ nameConfirmBtn }} </span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BaseDialogComponent',
  props: {
    dialogName: {
      default: 'ชื่อ Dialog',
      type: String
    },
    nameConfirmBtn: {
      default: 'บันทึก',
      type: String
    },
    nameCancelBtn: {
      default: 'ยกเลิก',
      type: String
    },
    isBtnBlock: {
      default: false,
      type: Boolean
    },
    width: {
      default: '500px',
      type: [String, Number]
    },
    color: {
      default: '',
      type: String
    },
    rounded: {
      default: 'xl',
      type: String
    },
    hideAction: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    show () {
      this.dialog = true
    },
    cancel () {
      this.dialog = false
      this.$emit('cancel')
    },
    confirm () {
      this.$emit('confirm')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>