*, html {
  font-family: $font-family !important;
}
.v-application * {
  font-family: $font-family !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.max-width-container {
  max-width: 1180px
}

.z-index {
  z-index: 1000;
}

.w-100{
  width: 100%;
}
.w-90{
width: 90%;
}
.w-80{
width: 80%;
}
.w-75{
width: 75%;
}
.w-70{
width: 70%;
}
.w-60{
width: 60%;
}
.w-50{
width: 50%;
}
.w-40{
width: 40%;
}
.w-30{
width: 30%;
}
.w-25{
width: 25%;
}
.w-20{
width: 20%;
}
.w-10{
width: 10%;
}

.w-100vw{
  width: 100vw;
}
.w-90vw{
  width: 90vw;
}
.w-80vw{
  width: 80vw;
}
.w-75vw{
  width: 75vw;
}
.w-70vw{
  width: 70vw;
}
.w-60vw{
  width: 60vw;
}
.w-50vw{
  width: 50vw;
}
.w-40vw{
  width: 40vw;
}
.w-30vw{
  width: 30vw;
}
.w-25vw{
  width: 25vw;
}
.w-20vw{
  width: 20vw;
}
.w-10vw{
  width: 10vw;
}

.h-100vh{
  height: 100vh;
}
.h-90vh{
  height: 90vh;
}
.h-80vh{
  height: 80vh;
}
.h-75vh{
  height: 75vh;
}
.h-70vh{
  height: 70vh;
}
.h-60vh{
  height: 60vh;
}
.h-50vh{
  height: 50vh;
}
.h-40vh{
  height: 40vh;
}
.h-30vh{
  height: 30vh;
}
.h-25vh{
  height: 25vh;
}
.h-20vh{
  height: 20vh;
}
.h-10vh{
  height: 10vh;
}

.h-100{
  height: 100%;
}
.h-95{
  height: 90%;
}
.h-90{
  height: 90%;
}
.h-85{
  height: 80%;
}
.h-80{
  height: 80%;
}
.h-75{
  height: 75%;
}
.h-70{
  height: 70%;
}
.h-65{
  height: 65%;
}
.h-60{
  height: 60%;
}
.h-55{
  height: 55%;
}
.h-50{
  height: 50%;
}
.h-45{
  height: 45%;
}
.h-40{
  height: 40%;
}
.h-35{
  height: 35%;
}
.h-30{
  height: 30%;
}
.h-25{
  height: 25%;
}
.h-20{
  height: 20%;
}
.h-15{
  height: 15%;
}
.h-10{
  height: 10%;
}