@mixin lineClamp ($line, $lineHeight) {
	height: calc(#{$lineHeight} * #{$line});
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin colorGradient ($primaryColor, $secondaryColor) {
	background: linear-gradient(180deg, $primaryColor 0%, $secondaryColor 100%) !important
}